.board {
  max-width: 600px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 10px 0 10px 0;
  max-height: 46.4vh;
  overflow: scroll;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.count {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}
