.pic {
  max-width: 250px;
  height: auto;
}
.text {
  text-align: center;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 4px;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pic__gray {
  filter: grayscale(100%);
}

.count {

  animation: blink .3s ease-out ;
}

@keyframes blink {
  from {
    transform: translateY(5px) translateX(-5px)  scale(0) rotate(5deg);
  }
  50% {
    transform: translateY(-5px) translateX(5px) scale(1.2) rotate(20deg);
  }
  to {
    transform: translateY(0) translateX(0) scale(1) ;
  }
}
