.section {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    gap: 40px;
  }

  .board {
    width: min-content;
  }

  .link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }