.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-template-areas: "left center right";
  gap: 60px;
  margin-top: 120px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 60px;
  grid-area: left;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 34px;
  margin: 17px 0 17px 0;
  padding: 0;
}

.link {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.exit {
  transition: color 0.2s ease-in-out;
}

.exit:hover,
.link:hover {
  color: white;
}

.exit:active,
.link:active {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
}

.active {
  color: white;
  pointer-events: none;
  transition: none;
}

.btn {
  all: unset;
  cursor: pointer;
}

.text__color_red {
  color: red;
}

.text__color_purple {
  color: purple;
}