.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #1c1c21;
  z-index: 1;
}

.leave {
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: #00000000;
  border: 0;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.leave:hover {
  opacity: 0.6;
}
