.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.pic {
  max-width: 250px;
  height: auto;
}
.text {
 text-align: center;
}