.board {
  max-width: 600px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 16px 0 16px 0;
  max-height: 45.4vh;
  overflow-y: scroll;
}

.lists::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(47, 47, 55, 1);
}

.lists::-webkit-scrollbar-thumb {
  height: 292px;
  background-color: rgba(133, 133, 173, 1);
}

.lists::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 128);
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.count {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}
